header
  position: fixed
  left: 0
  width: 100%
  // padding: 16px 20px
  background-color: $dark
  color: $white
  display: flex
  justify-content: space-between
  height: 50px
  z-index: 996 
  padding: 0 1em
  box-sizing: border-box
.container-brand-header
  display: flex
  flex-direction: row
  align-items: center
  color: $white
.container-logo-brand
  margin-right: 24px
  cursor: pointer
.container-description-brand
  span
    font-size: 12.8px
    color: $darker-brand
    font-weight: 300
.container-searcher-header
  display: none
  //display: flex
  justify-content: center
  align-items: center
  background-color: $text-light
  padding: 4px 6px
  border-radius: 3px
  input
    border: none
    margin: 0
    background-color: transparent
    padding: 0 4px
    outline: none
  i.searcher-icon
    color: $darker-brand
    padding: 0px 2px
.container-user-header
  display: flex
  color: $darker-brand
  font-weight: 300
.container-user-alerts
  display: flex
  justify-content: center
  align-items: center
  margin-right: 23px
  padding-right: 23px
  border-right: 1px solid $text-lighter
  i
    color: $white
    cursor: pointer
    font-size: 1.5em
  .help-icon
    margin-left: 24px
.container-user-profile
  i
    color: $white
    cursor: pointer
    font-size: 1.8em
  display: flex
  justify-content: center
  align-items: center
  span.user-name
    margin-right: 10px
    color: $darker-brand
    font-family: 'IBM Plex Sans', sans-serif
.image-logo-header
  width: 115px
    
// textarea:focus, input:focus 
//   color: $white


// input, select, textarea
//   color: $white
    
