// ===============
//  Elastika Variables
// ===============

// Colors
$primary-color: #583b1b
$second-color: #d6ae2d
$secondary-color: #d6ae2d
$third-color: #b32f2f
//$primary-color: color('purple', 'base') !default
$primary-color-light: color('purple','lighten-1') !default
//$secondary-color: color('blue', 'base') !default
$secondary-color-dark : color('blue','darken-1') !default
$body-color: color('blue', 'lighten-2') !default
$success-color: color('green', 'base') !default
$error-color: color('red','base') !default
$warning-color: color('yellow', 'base') !default
$dark-color: color('grey','darken-1') !default
$pending-color: $dark-color
$white: color('shades', 'white') !default
$black: color('shades', 'black') !default
$transparent: color('shades', 'transparent') !default

// Divider 
// $color-divider: color('grey', 'lighten-3') !default
// $divider-color: color('grey', 'lighten-3') !default

// Typography 
// $typography-color: color('brown', 'base') !default
// $typography-color-lighter: color('grey','darken-3') !default
// $typography-color-dark: color('grey', 'darken-1') !default
// $h1-fontsize: 2.441em !default;
// $h2-fontsize: 1.953em !default;
// $h3-fontsize: 1.563em !default;
// $h4-fontsize: 1.250em !default;
// $h5-fontsize: 1em !default;
// $h6-fontsize: 0.8em !default;

// Alert
// $alert-color: color('brown', 'base') !default
// $alert-color-background-error: rgba($error-color, 0.1) !default
// $alert-color-error: $error-color
// $alert-border-error: 1px solid $error-color

// $alert-color-background-success: rgba($success-color, 0.1) !default
// $alert-color-success: $success-color
// $alert-border-success: 1px solid $success-color

// $alert-color-background-warning: rgba($warning-color, 0.1) !default
// $alert-color-warning: $warning-color
// $alert-border-warning: 1px solid $warning-color

// $alert-color-background-info: rgba(color('blue','base'), 0.1) !default
// $alert-color-info: color('blue','base')
// $alert-border-info: 1px solid color('blue','base')


// BreadCrumb

// Button
$button-color-background-primary: linear-gradient(90deg, $primary-color-light 0%, $primary-color 100%) !default
$button-color-background-primary-hover: $primary-color

$button-color-background-outline-dark: color('shades', 'transparent') !default
$button-color-background-outline-dark-hover: $secondary-color-dark
$button-border-outline-dark: 2px solid $secondary-color-dark
$button-color-outline-dark: $secondary-color-dark


$button-color-background-outline-clear: color('shades', 'transparent') !default
$button-color-background-outline-clear-hover: $white 
$button-color-outline-clear: $secondary-color-dark

$button-color-background-thinner: color('shades', 'transparent') !default
$button-color-background-thinner-hover: color('grey', 'lighten-4') !default 
$button-color-thinner: $secondary-color
    
$button-color-alert: $error-color
    
// Card
$card-color: color('brown','base') !default
$card-border: 1px solid color('grey', 'lighten-2') !default
$card-bg: color('shades','white')
$card-color-icon: color('grey', 'darken-1')
// $card-text: color('brown', 'darken')


// Code
$code-color-background: color('blue','darken-1') !default

// Container

// Error Page

// Footer

// Forms

// Header
$header-color-background: color('blue','darken-1') !default
$header-color: color('shades', 'white') !default
$header-border: 1px solid color('grey', 'darken-3')
$header-color-span: color('grey', 'darken-1') !default

// Modal
$modal-shadow: 0px 4px 8px rgba(color('blue','darken-1'),0.1) 
$modal-overlay: rgba(color('blue','darken-1'),0.8) !default
$modal-color-icon: color('grey', 'lighten-3') !default
    
// Preload
$preload-color-background: color('blue','darken-1') !default
$preload-border-width: 7px !default
$preload-border-donut: $preload-border-width solid rgba($white, 1)
$preload-border-donut-left: $preload-border-width solid $primary-color
$preload-border-spinner: ($preload-border-width + 2px) solid $transparent
$preload-border-spinner-top: ($preload-border-width + 2px) solid color('grey','lighten-1')
$preload-border-circle: $preload-border-width solid rgba($white, 1)	

// Progress
$progress-color-background: color('grey', 'lighten-3')
$progress-color-number: color('blue','darken-1')
$progress-bar-color: color('purple','base')


// Sidenav
$sidenav-color-background: color('shades', 'white') !default
$sidenav-color-background-hover: lighten($secondary-color, 45%) !default
$sidenav-shadow: 1px 2px 2px rgba(color('blue','darken-1'), 0.1) !default
$sidenav-color: color('grey', 'darken-3') !default
$sidenav-color-icon: color('grey','darken-1') !default
$sidenav-color-icon-hover: $secondary-color !default

    
// Table
$table-color-background: $white
$table-shadow: 1px 2px 2px rgba($black,.1)
$table-border: 1px solid color('grey','lighten-2')
$table-a: color('grey','darken-3') !default
$table-color-a: color('blue', 'base') !default
// State

// Comming Soon
$coming-soon-color: color('blue','darken-1')
$coming-soon-background: color('grey','darken-2')


// Disabled
$disabled-no-drop: color('grey','darken-1')

$spacer: 1em !default;
// Font-family to use in the whole project 


//MODULES

// Landing Home
$p-color-primary: color('grey','darken-3')
$p-color-alternative: color('brown','base')
$li-color-primary: color('grey','darken-3')
$background-color-grey: color('grey','lighten-2')
$background-color-footer: color('blue','darken-1')
$h-color-lighten: color('yellow','lighten-1')
$nav-color-primary: color('blue', 'darken-1')

// Nosotros
$nosotros-h4-color: color('brown', 'base')