.banner
   img(src="../congreso-bellas-artes/assets/bg-banner.jpg", alt="", srcset="")
   .container
      .detail-center.center-xs.middle-xs
         img(src="../congreso-bellas-artes/assets/icon.svg", width="90", alt="")
         h1 CONGRESO DE BELLAS ARTES
         p “La educación artística en el Perú y Latinoamérica”
         p.bold 8, 9 y 10 de agosto 
         p.bold.simple LIMA - PERU

section.row.welcome.center-xs.middle-xs
   .container
      h1
         |BIENVENIDOS
      p
         |La educación artística a nivel latinoamericano no ha recibido el reconocimiento ni la importancia debida dentro y fuera de las escuelas, a pesar que la UNESCO tiene como objetivo lograr que se reconozca la importancia de la educación artística en la promoción de la creatividad, la innovación y la diversidad cultural. Sin embargo, al parecer estamos lejos de lograrlo...
      a(href="#show-more", class="btn btn-primary") QUIERO SABER MÁS
   
section.row.inscribete.center-xs.middle-xs
   img(src="../congreso-bellas-artes/assets/bg-inscribete.jpg", alt="", srcset="")
   .container
      h1 INSCRÍBETE
      p Asiste a las ponencias, talleres y experiencias, sé parte de la elaboración del diagnóstico para el cambio de la educación artística en el Perú y Latinoamérica.
      a(href="inscripcion.html", class="btn btn-alt-primary") INSCRÍBETE AHORA
   .timer
      .close ⓧ
      .clock

section.row.center-xs.ponentes
   .container
      h1 PONENTES
      .list-info.row
         -for ( i =1 ; i <= 4; i++)
            .col-sm-6.cont
               .info
                  h4 Martha Twain Retwain
                  span Decana Facultad Artes Plásticas UCHLA
                  a(href="ponentes.html", class="btn btn-outline") VER RESEÑA 

               .foto
                  img(src="../congreso-bellas-artes/assets/ponente.jpg", alt="")

section.convocatoria.row.center-xs.middle-xs
   .container
      h1 CONVOCATORIA
      p Si eres investigador, académico, docente de educación superior o profesional de la educación artística y cuentas con un trabajo de investigación acorde a los 5 ejes temáticos planteados podrás desarrollar a modo de ponencia, taller, experiencia o diseñando un póster.
      a(href="convocatoria.html", class="btn btn-primary") QUIERO SABER MÁS
section.franja.row
   .col-sm-12
      img(src="../congreso-bellas-artes/assets/bg-convocatoria.jpg", alt="")

section.program.row.center-xs
   .container
      h1 PROGRAMA
      .table-design
         table
            thead
               th
                  tr
                  tr
            tbody
               -for ( i=0; i<= 6; i++)
                  tr
                     td
                        |08:30 am - 12:20 am
                     td
                        |Experiencia: La Prueba
      br
      br

      .row.center-xs
         a(href="#todos", class="btn btn-second") VER TODO


section.comunicaciones.row.center-xs
   .container
      h1 COMUNICACIONES
      .list-info.row.orden-comunicaciones
         -for ( i =1 ; i <= 2; i++)
            .col-sm-12.cont
               .info
                  h4 Tres nuevos ponentes se unen al Congreso Bellas Artes
                  span Nos complace anunciar que estamos agregando 3 nuevas ponencias...
                  a(href="#ver", class="btn btn-outline") 04/05/2019

               .foto
                  img(src="../congreso-bellas-artes/assets/bg-comunicaciones.jpg", alt="")
      br
      br

      .row.center-xs
         a(href="#todos", class="btn btn-primary") VER TODO

