.titulo
   img(src="../assets/bg-interiores.jpg", alt="")
   h1 PONENTES

section.row.center-xs
   .container
      .list-full.row
         -for ( i =1 ; i <= 4; i++)
            .col-sm-12.cont
                  .foto
                     img(src="../assets/ponente.jpg", alt="")
                  .info
                     h4 Martha Twain Retwain
                     span Decana Facultad Artes Plásticas UCHLA
                     ul.redes
                        li
                           a(href="#")
                              img(src="../assets/twitter.svg", alt="")
                        li
                           a(href="#")
                              img(src="../assets/facebook.svg", alt="")
                        li
                           a(href="#")
                              img(src="../assets/linkedin.svg", alt="")
                  .description
                     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore libero harum assumenda magnam consequatur, corrupti officia ipsam autem explicabo blanditiis. Maiores distinctio voluptas, mollitia rem reiciendis laboriosam architecto ipsa tempora.
                     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore libero harum assumenda magnam consequatur, corrupti officia ipsam autem explicabo blanditiis. Maiores distinctio voluptas, mollitia rem reiciendis laboriosam architecto ipsa tempora.
                     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore libero harum assumenda magnam consequatur, corrupti officia ipsam autem explicabo blanditiis. Maiores distinctio voluptas, mollitia rem reiciendis laboriosam architecto ipsa tempora.
            .divider


