.modal-base_register
  .container-close-icon
    i.material-icons
      | close
  .container-base-register_left
    .wrapper-image-brand
      img(src="assets/images/personas.svg", alt="", srcset="" class="modal-baseregister-image")
  .container-base-register_right
    .base-register-title.h2
      | Regístrate y comienza a usar la nube de Elástika
    .container-base-register-subtitle
      p.base-register-subtitle
        | Maneja tu servicio cloud 
        span.bold
          y recibe $10 de crédito para probar nuestros productos.
        |  Configura rápidamente un servidor y estará listo para funcionar.
    .base-register-form
      .row
        .input-field
          input#last_name(type='text')
          label(for='full_name') Nombre completo
      .row
        .input-field
          input#last_name(type='email')
          label(for='full_name') Correo electrónico
      .row
        .input-field
          input#last_name(type='text')
          label(for='full_name') País
      .row
        .input-field
          input#last_name(type='email')
          label(for='full_name') Correo electrónico
      .row.container-button
        button.btn.btn-primary Siguiente
    .base-register-foot.center
      | ¿Ya tienes cuenta? 
      a.underline
        | Ingresa acá
