button.btn.btn-primary botón
button.btn.btn-primary.btn-thinner botón
button.btn.btn-outline--dark botón
button.btn.btn-outline--dark.btn-thinner botón
button.btn.btn-outline--clear botón
button.btn.btn-alert botón
button.btn.btn-withoutline botón
