
.card.card-small
  .container-header-card
    .container-title-card
      span.title-card
        | Crea tu primer servidor virtual (Small size)
      span.subtitle-card
        | Subtítulo
    .container-icon-card
      i.material-icons dns
  .container-content-card
    span
      | Utiliza recursos informáticos en la nube para alojar tus aplicaciones y/o sitios web
  .container-footer-card
    .container-button-card
      a
        | Crear servidor
.card.card-standar
  .container-header-card
    .container-title-card
      span.title-card
        | Crea tu primer servidor virtual (Standar size)
      span.subtitle-card
        | Subtítulo
    .container-icon-card
      i.material-icons dns
  .container-content-card
    span
      | Utiliza recursos informáticos en la nube para alojar tus aplicaciones y/o sitios web
  .container-footer-card
    .container-button-card
      a
        | Crear servidor
.card.card-big
  .container-header-card
    .container-title-card
      span.title-card
        | Crea tu primer servidor virtual (Big size)
      span.subtitle-card
        | Subtítulo
    .container-icon-card
      i.material-icons dns
  .container-content-card
    span
      | Utiliza recursos informáticos en la nube para alojar tus aplicaciones y/o sitios web
  .container-footer-card
    .container-button-card
      a
        | Crear servidor
.card.card-big
  .container-header-card
    .container-title-card
      span.title-card
        | Crea tu primer servidor virtual (Big size)
      span.subtitle-card
        | Subtítulo
    .container-icon-card
      i.material-icons dns
  .container-content-card
    span
      | Utiliza recursos informáticos en la nube para alojar tus aplicaciones y/o sitios web
  .container-footer-card
    .container-multiple-buttons
      ul
        li
          a
            | Activar permisos para más usuarios
        li
          a
            | Crear balanceador
        li
          a
            | Revisar reportes de pagos
