.container-warning_message
  .backgroundimage-warning_message
    img(src="assets/images/mancha.svg", alt="", srcset="")
  .body-warning_message
    .title-warning_message.display-first.bold
      | Error 404.
    .content-warning_message.p
      | No hemos encontrado la página que buscabas.
    .containerbutton_warning_message
      .containerbutton_warning_message
        button.btn.btn-primary Ir al Dashboard
