
footer.row.center-xs
   .container
      a(href="index.html")
         img(src="../congreso-bellas-artes/assets/logo-white.svg", width="250", alt="")
      ul
         li
            a(href="bienvenidos.html") El congreso    
         li
            a(href="inscripcion.html") Inscripción
         li
            a(href="ponentes.html") Ponentes
         li
            a(href="convocatoria.html") Convocatoria
         li
            a(href="#programa") Programa
         li
            a(href="#comunicaciones") Comunicaciones
