| Grillas
.row
  .col-xs-12.col-sm-3.col-md-2.col-lg-1
    .box-row Contenido 1
  .col-xs-6.col-sm-6.col-md-8.col-lg-10
    .box-row Contenido 2
  .col-xs-12.col-sm-3.col-md-2.col-lg-1
    .box-row Contenido 3
.row
  .col-xs-12.col-sm-3.col-md-2.col-lg-1
    .box-row Contenido 1
  .col-xs-6.col-sm-6.col-md-8.col-lg-10
    .box-row Contenido 2
  .col-xs-12.col-sm-3.col-md-2.col-lg-1
    .box-row Contenido 3
.row
  .col-xs-12.col-sm-3.col-md-2.col-lg-1
    .box-row Contenido 1
  .col-xs-6.col-sm-6.col-md-8.col-lg-10
    .box-row Contenido 2
  .col-xs-12.col-sm-3.col-md-2.col-lg-1
    .box-row Contenido 3

