header.row.center-xs
    .container

        .container-brand-header
            .container-logo-brand
                a(href="index.html")
                    img(src="assets/logo.svg", alt="", srcset="" class="image-logo-header")
            
        
        .container-navbar-header
            nav
                ul
                
                    li
                        a(href="bienvenidos.html") El congreso    
                    li
                        a(href="inscripcion.html") Inscripción
                    li
                        a(href="ponentes.html") Ponentes
                    li
                        a(href="convocatoria.html") Convocatoria
                    li
                        a(href="#programa") Programa
                    li
                        a(href="#comunicaciones") Comunicaciones
