header
    .container-brand-header
        .container-logo-brand
            img(src="assets/images/logo-elastika-white.svg", alt="", srcset="" class="image-logo-header")
        .container-description-brand
            span
                | •  Almacenamiento en la nube
    .container-searcher-header
        i.material-icons.searcher-icon
            | search
        input(placeholder='Busca funcionalidades, Apps, Espacios ...')
    .container-user-header
        .container-user-alerts
            i.material-icons
                | notifications
            i.material-icons.help-icon
                | live_help
        .container-user-profile
            span.user-name
                | Sebatián Osses
            i.material-icons
                | account_circle
