.container-warning_message
  .backgroundimage-warning_message
    img(src="assets/images/mancha.svg", alt="", srcset="")
  .body-warning_message
    .title-warning_message.h2.bold
      | ¡Aún no has creado un servidor!
    .content-warning_message.p
      | Utiliza este servicio para alojar tus aplicaciones y/o sitios web.
    .containerbutton_warning_message
      .containerbutton_warning_message
        button.btn.btn-primary Crear servidor
