.container-progressbar
  span.progressbar-number
        | 25%
  .background-gradient(style='width:25%')
    .progress-bar
.container-progressbar
  span.progressbar-number
        | 50%
  .background-gradient(style='width:50%')
    .progress-bar
.container-progressbar
  span.progressbar-number
        | 70%
  .background-gradient(style='width:70%')
    .progress-bar
.container-progressbar
  span.progressbar-number
        | 100%
  .background-gradient-animation
    .progress-bar-animation
      //- span.progressbar-number
      //-   | 70%
