.modal-successful-register_modal
  .container-close-icon
    i.material-icons
      | close
  .modal-title.h3
    | Tu cuenta ha sido creada con éxito
  .modal-body.p
    | Activa tu cuenta para habilitar todas las funciones. Recuerda que una vez que hayas consumido el crédito de prueba, realizaremos recargos en tu tarjeta de acuerdo a los productos que hayas creado.
  .container-modal-imagen
    img(src="assets/images/personas.svg", alt="", srcset="" class="modal-baseregister-image")
  .container-button
    button.btn.btn-primary Comenzar a usar Elástika
