.toast.toast--error
  .wrapper-message
    i.material-icons.message-icon
      | error_outline
    | Tienes un volumen disponible sin adjuntar
  .wrapper-close
    i.material-icons.close-icon
      | close
.toast.toast--success
  .wrapper-message
    i.material-icons.message-icon
     | check_circle_outline
    | Tu virtual fue creada con éxito
  .wrapper-close
    i.material-icons.close-icon
      | close
.toast.toast--warning
  .wrapper-message
    i.material-icons.message-icon
      | warning
    | Tu fecha de facturación se aproxima
  .wrapper-close
    i.material-icons.close-icon
      | close
