span.display Display
h1.h1 En un lugar de la mancha cuyo nombre no quiero recordar (h1)
h2.h2 En un lugar de la mancha cuyo nombre no quiero recordar (h2)
h3.h3 En un lugar de la mancha cuyo nombre no quiero recordar (h3)
h4.h4 En un lugar de la mancha cuyo nombre no quiero recordar (h4)
h5.h5 En un lugar de la mancha cuyo nombre no quiero recordar (h5)
p.p-smaller En un lugar de la mancha (p_smaller)
p.p-small En un lugar de la mancha (p_small)
p.p En un lugar de la mancha (p)
p.p-bigger En un lugar de la mancha (p_bigger)
p.p-smaller.underline En un lugar de la mancha (p_smaller)
p.p-small.underline En un lugar de la mancha (p_small)
p.underline En un lugar de la mancha (p)
p.p-bigger.underline En un lugar de la mancha (p_bigger)
p.p-bigger.underline.bold En un lugar de la mancha (p_bigger & bold)
p.p-smaller.bold En un lugar de la mancha (p_smaller)
p.p-small.bold En un lugar de la mancha (p_small)
p.bold En un lugar de la mancha (p)
p.p-bigger.bold En un lugar de la mancha (p_bigger)
.wraper-text-icon
  i.fa.fa-star.icon-button
  p.underline Crear nuevo servidor
.wrapper-title
  .title.title-small
    i.material-icons view_quilt
    h1 Título de sección
.wrapper-title
  .title.title-standar
    i.material-icons view_quilt
    h2 Título de sección
    div
